alex@Alexanders-MacBook-Pro Up_Bank_TUI % git remote add origin git@github.com/alkzandr/Up_Bank_TUI.git
error: remote origin already exists.
alex@Alexanders-MacBook-Pro Up_Bank_TUI % git remote remove upstream

error: No such remote: 'upstream'
alex@Alexanders-MacBook-Pro Up_Bank_TUI % git push
fatal: The current branch master has no upstream branch.
To push the current branch and set the remote as upstream, use

    git push --set-upstream origin master

To have this happen automatically for branches without a tracking
upstream, see 'push.autoSetupRemote' in 'git help config'.

alex@Alexanders-MacBook-Pro Up_Bank_TUI % git push --set-upstream origin master
Enumerating objects: 2704, done.
Counting objects: 100% (2704/2704), done.
Delta compression using up to 8 threads
Compressing objects: 100% (2449/2449), done.
error: RPC failed; HTTP 400 curl 92 HTTP/2 stream 7 was not closed cleanly: CANCEL (err 8)
send-pack: unexpected disconnect while reading sideband packet
Writing objects: 100% (2704/2704), 261.99 MiB | 3.01 MiB/s, done.
Total 2704 (delta 605), reused 0 (delta 0), pack-reused 0 (from 0)
  1   **/target/
  2












 INSERT   master  󰊢  .gitignore                                                                                                                                          A   43  Bot   2:1    22:20
